:root {
    --main-bg-color: #25A3DA;
    --num-color: #4F99D9;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
}

body {
    background: #25A3DA;

}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.calculator {
    position: absolute;
    height: 550px;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right bottom, #1e1c1e, #222123, #272629, #2b2b2e, #2f3034);
    display: grid;
    grid-template-rows: 16.7% 16.7% 16.7% 16.7% 16.7%;
    grid-template-columns: 100%;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
}

.flex-container-view {
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
}

.view {
    width: 87%;
    height: 70px;
    background-color: #A2AF77;
    border-radius: 5px;
    color: black;
    overflow: hidden;
}

.text-view {
    position: relative;
    padding: 5px;
    top: 10px;
    font-size: 1.5em;
}

.calcBtn {
    width: 60px;
    height: 60px;
    background-color: #130F10;
    text-align: center;
    padding-top: 17px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.calcBtn:hover {
    background-color: #41515d;
}

.numBtn {
    background-color: #58595B;
}

#equals {
    background-color: #F15A2B;
}

#clear {
    background-color: var(--main-bg-color);
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    font-size: 15px;
}


/* Mobile Styles */
@media only screen and (max-width: 420px) {


    .calculator {
        width: 90vw;
        height: 500px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF;
        /* Blue */
    }
}