#lead-text {
  color: red;
  font-weight: bold;
}

.lead {
  font-weight: 400;
  line-height: 32px;
}

#profile-img {
  position: relative;
  width: 100%;
  height: auto;
  /* background-color: black; */
}

.jumbotron {
  background-color: white;
}

.profile-container {
  position: relative;
  background-color: white;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
